@media (orientation: landscape){

    #toppvenstre, #bunnhoyre{
        grid-template-columns: 50% 50%;
    }

    #velgebilderdiv{
        padding: 45vh 0;
    }
    
    img{max-width: 50vw;}

    .move{
        animation-name: move;
        animation-duration: .5s;
        animation-timing-function: ease;
        animation-fill-mode:forwards;
    }

    @keyframes move{
        0% {left: 0vw; }
        40% {left: 0vw; }
        80%{left: -50vw;}
    }

}